.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color:lightgray ;
}

.nav-bar a {
 color: darksalmon;
 padding: 6px 12px;
 text-decoration: none;
 border-radius: 6px;
}

.nav-bar .active {
    border: 1px solid purple;
    font-style: italic;
    color:darkred;
}

.profile{
  background-image: url("");
  /* background-size: cover; */
  background-position: center;
  border-radius: 50%;
  border:2px solid  rgb(148, 146, 146);
  height:10vh;
  
}